body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}

header {
    background-color: #AD8B73;
    margin: 0px 0px;
    padding-top: 100px;

}

h1 {
    margin: 0;
    font-family: 'Sacramento', cursive;
    line-height: 2;
    font-size: 562%;
    color: #E3CAA5;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #E3CAA5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #CEAB93;
}

img {
    border-radius: 150px;
    padding: 50px;
}
.b1{
    
     display: flex;
  justify-content: center;  /* centraliza A e B juntos */
  align-items: center;
}


.t{
    position:absolute;
  margin: 0 auto; /* centraliza A sozinho */
   
}
  .img1{position: relative;
    width: 20%;
    margin-right:200px ;
   padding: 20px;
  margin: 10px;
  left: 400px;

  }
 .img0{position: relative;
    width: 20%;
   padding: 20px;
  margin: 10px;
  right: 400px;
   margin-left:200px ;

  }

hr{
   
    border: dotted whitesmoke 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
    
}
footer{
    background-color: #E3CAA5;
    padding: 10px;
}
a{
    text-decoration: none;
 margin: 10px 10px;
   font-family: 'Montserrat', sans-serif;
}
a:hover{
    color: whitesmoke;
}
.copy{
    color: white;
}