body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}

header {
    background-color: #AD8B73;
    margin: 0px 0px;
    padding-top: 100px;

}

h1 {
    margin: 0;
    font-family: 'Sacramento', cursive;
    line-height: 2;
    font-size: 562%;
    color: #E3CAA5;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #E3CAA5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #CEAB93;
}

img {
    border-radius: 150px;
    padding: 50px;
}


.um {
 display: flex;             /* 1. Ativa o Flexbox */
  justify-content: center;   /* 2. Centraliza horizontalmente (no eixo principal) */
  align-items: center;       /* 3. Centraliza verticalmente (no eixo cruzado) */
  height: 200px;
margin: 50px 100px;
   
}

.dois {
 display: flex;             /* 1. Ativa o Flexbox */
  justify-content: center;   /* 2. Centraliza horizontalmente (no eixo principal) */
  align-items: center;       /* 3. Centraliza verticalmente (no eixo cruzado) */
  height: 200px;
  margin-top: 100px;
  
}
.umm{
    width: 20%;
   padding: 20px;
  margin: 10px;
  
 
   
}
.doiss{
    margin-top: 300px;
     padding: 20px;
  margin: 10px;
  margin-bottom: 35px;
  
 
}
hr{
   
    border: dotted whitesmoke 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
    
}
footer{
    background-color: #E3CAA5;
    padding: 10px;
}
a{
    text-decoration: none;
 margin: 10px 10px;
   font-family: 'Montserrat', sans-serif;
}
a:hover{
    color: whitesmoke;
}
.copy{
    color: white;
}